body{
  font-size: 16px;
}

.body-color{
}

.col-sm-3 > .card {
  margin-bottom: 20px;
  /* background-color: #F4FEC1; */
  border-radius: 20px;
}

.card {
  margin : 1.25em;
}

.card-block {
  padding : 1.25em;
}

#background-cl {
  background-color: #F6f6f8;
}

.collaborators-st {
  text-align: center;
}

.collaborators-st > ul > li {
  list-style: none;
}

h1 {
  font-family:verdana;
  text-align:center;
  color:red;
}

footer {
  position         : fixed;
  bottom           : 0;
  width            : 100%;
  text-align       : center;
  background-color : #FFFFFFFF;
}

#searchForm {
  margin-right : 1em;
}

#searchBox {
  border-radius : .5em;
}

#searchButton {
  margin-left      : .5em;
  border-radius    : .5em;
  border-color     : #FCC #C88 #C88 #FCC;
  background-color : #CC0000;
  color            : #FFFFFF;
}

#searchButton:hover {
  background-color : #FF0000;
  box-shadow       : 0em 0em 1em .125em #FF000066;
  text-shadow      : 0em 0em .5em .25em #FFFF00;
}

.searchMatch {
  background-color : #FFFF00;
}

.schedules {
  text-align : center;
}

.redText {
  color : red;
}

.blueText {
  color : blue;
}

.B123_Schedule {
  margin-bottom : 2em;
}
